


      <% @tweets.each do |tweet| %>
        <h1> <%=tweet.user.username %> - <%=tweet.message %> </h1>


    <% end %>
    <h3> Add a Fweet </h3>
    <form action='/tweets' method="POST">
      <input type="hidden" name="user_id" value=<%= session[:user_id] %> >

    Message: <input class="form-control" type="text" name="message">
    <input type="submit"> 
    </form>

      </div>


  </body>
</html>
